/* Header */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

:root{
  --primario: #f10606;
  --secundario: #000000;
  --gris: #757575;
  --blanco: #f5f5f5;
}

header{
    background-color: black;
}

.nav {
   font-family: Impact, fantasy;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid rgb(219, 78, 78);
  border-right: 3px solid rgb(130, 8, 8);
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid rgb(130, 8, 8);
  border-left: 3px solid  rgb(219, 78, 78);
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: red;
}

.sombra{
  -webkit-box-shadow: 0px 5px 15px 0px rgba(77,77,77,0.68);
  -moz-box-shadow: 0px 5px 15px 0px rgba(77,77,77,0.68);
  box-shadow: 0px 5px 15px 0px rgba(77,77,77,0.68);
  
  color: var(--secundario);
  padding: 2rem;
  border-radius: 1rem;/*Agrega un borde redondo*/
}

.contenedor{
  max-width: 80%;
  margin: 3rem auto;
}

.text{
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.title{
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: Impact, fantasy;
}

.footer{
  text-decoration: none;
  margin-top: 3rem;
  color: var(--primario);
  background-color: var(--secundario);
  justify-content: space-between;
  padding: 2rem;
  
}

.formulario{
  background-color: var(--gris);
  width: min(60rem, 100%); /**Utiliza el valor mas pequeno*/
  margin: 3rem auto;/*Utilizalo cuando es un elemento padre sin display flex*/
  padding: 2rem;
  border-radius: 1rem;
  border: none;
}



.formulario__label{
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: .5rem;
  display: block;
}

.formulario__textarea{
  height: 15rem;
}

.formulario__input,
.formulario__textarea{
  width: 80%;
  border: none;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.formulario__boton {
  background-color: #0097A7;
  color: var(--Blanco);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  width: 90%;
  text-align: center;
}

.formulario__boton:hover{
  cursor: pointer;
}

.datos{
  display:grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.datos__link{
  grid-row: 3/4;
  grid-column: 1/2;
}

.datos__img{
  grid-column: 2/3;
  grid-row: 3/4;
}
