/*
    Grupo #3
Randall Mora Marchena
Leiver Valenciano Herrera
Iverson Alfaro Benavides
Juan López Castro
Carlos Bolaños
*/

:root {

    --primario: #f10606;
    --secundario: #000000;
    --gris: hsl(0, 1%, 64%);
    --blanco: #f5f5f5;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

* , *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 2;
}

footer{
    align-items: center;
}

/* Globales */


.contenedor{
    max-width: 120rem;
    width: 90%;
    width: min(90%, 120rem);
    margin: 0 auto;
}

*{
    text-decoration: none;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-family: "Pwrup-Regular";
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
    
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    border-radius: 25%;
    max-width: 100%;
}

/*Utilidades*/

.no-margin{
    margin: 0;
}

.no-pading{
    padding: 0;
}

.centrarTexto{
    text-align: center;
}

/* Header */

.header{
    background-image: url(../Img/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60rem;
}

.header__text{
    padding: 2rem;
    text-align: center;
    margin-top: 5rem;
}

.header__text--link{
    color: var(--secundario);
}


/*Navegacion*/

.navega{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: var(--secundario);
}

.navega__link{
    color: var(--primario);
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.2rem;
    font-family: "Pwrup-Regular";
}

.navega__link:hover {
    background-color: var(--primario);
    color: var(--secundario);
    border-radius: 5%;
}

/*Article*/

.article{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(77,77,77,0.68);
    -moz-box-shadow: 0px 5px 15px 0px rgba(77,77,77,0.68);
    box-shadow: 0px 5px 15px 0px rgba(77,77,77,0.68);
    background-color: var(--Blanco);
    padding: 2rem;
    border-radius: 1rem;/*Agrega un borde redondo*/
}

.article__title{
    color: var(--primario);
    font-weight: 700;
    margin-top: 0;
    padding: 1.2rem;
}

.article_desc{
    line-height: 2;
    text-align: center;
}

/*Section*/


.contenedor__fichas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
}

.contenedor__opc{
    padding: 1rem;
}

.mover{
    grid-column: 3/4;
}

.contenedor__pa{
    margin-top: -10rem;
    font-size: 3rem;
}

.footer{
    margin-top: 15rem;
    background-color: var(--secundario);
    padding: 2rem;
}

.footer__text{
    padding: 1rem;
    text-align: center;
}

.footer__text--link{
    text-decoration: none;
    color: var(--primario);
}

/* Header */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

.nav {
   font-family: Impact, fantasy;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid rgb(70, 57, 57);
  border-right: 3px solid rgb(19, 15, 15);
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid rgb(19, 15, 15);
  border-left: 3px solid  rgb(70, 57, 57);
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: black;
}

